{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="alert {{ win|get_alert_class }}">
            <h4 class="alert-heading">{{ win|get_win_string }}</h4>
            {{ reason|safe }}
            <hr>
            <p class="mb-0"><a href="{{ url_for('game.new_game') }}" class="btn btn-primary">새로운 게임</a></p>
        </div>

        <h4><span class="badge bg-secondary">컴퓨터</span> {{ game['you']['name'] }}</h4>
        <p class="lead">합계: <b>{{ game['you']['hand']|calc_total }}</b>/21</p>

        <div>
        {% for card in game['you']['hand'] %}
            <img src="/static/card_img/{{card}}.png" alt="{{ card|get_display_card_name }}">
        {% endfor %}
        </div>

        <hr>

        <h4><span class="badge bg-info">나</span> {{ game['me']['name'] }}</h4>
        <p class="lead">합계: <b>{{ game['me']['hand']|calc_total }}</b>/21</p>

        <div>
        {% for card in game['me']['hand'] %}
            <img src="/static/card_img/{{card}}.png" alt="{{ card|get_display_card_name }}">
        {% endfor %}
        </div>

        <br>
        <div class="d-grid gap-2">
            <div class="btn-group">
                <button class="btn btn-primary" id="hit">Hit</button>
                <button class="btn btn-danger" id="stand">Stand</button>
            </div>
        </div>
    </div>

    <script>
        const hit = document.getElementById("hit");
        const stand = document.getElementById("stand");

        hit.addEventListener("click", function(event){
            location.replace("{{ url_for('game.new_game') }}");
        });
        stand.addEventListener("click", function(event){
            location.replace("{{ url_for('game.new_game') }}");
        });
    </script>
{% endblock %}