{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h4 class="title is-4"><span class="tag is-link is-medium">컴퓨터</span> {{ game['you']['name'] }}</h4>
        <h5 class="subtitle">합계: <b id="your_total">{{ [ game['you']['hand'][0] ]|calc_total }}</b>/21</h5>

        <div id="your_hand">
            <img src="/static/card_img/{{ game['you']['hand'][0] }}.png" alt="{{ game['you']['hand'][0]|get_display_card_name }}">
        {% for i in range(0, game['you']['hand']|length -1) %}
            <img src="/static/card_img/back.png" alt="Hidden Card">
        {% endfor %}
        </div>

        <br>

        <h4 class="title is-4"><span class="tag is-info is-medium">나</span> {{ game['me']['name'] }}</h4>
        <h5 class="subtitle">합계: <b id="my_total">{{ game['me']['hand']|calc_total }}</b>/21</h5>

        <div id="my_hand">
        {% for card in game['me']['hand'] %}
            <img src="/static/card_img/{{card}}.png" alt="{{ card|get_display_card_name }}">
        {% endfor %}
        </div>

        <br>

        <div class="buttons has-addons">
            <button class="button is-info is-large" id="hit" style="display:flex;width:50%">Hit</button>
            <button class="button is-danger is-large" id="stand" style="display:flex;width:50%">Stand</button>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal" id="showGameStatus" tabindex="-1" aria-hidden="true">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="statusHead"></p>
            </header>
            <section class="modal-card-body">
                <p id="statusBody"></p>
                <p class="">이제 당신의 승률은 <b id="winning_rate_text">{{ game['count']['winning_rate'] }}%</b> 입니다.</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-link is-medium is-fullwidth" id="reset" data-target="showGameStatus">다시하기</button>
            </footer>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    <script>
        const hit = document.getElementById("hit");
        const stand = document.getElementById("stand");
        const reset = document.getElementById("reset");

        function call_stand(){
            axios({
                method: "GET",
                url: "{{ url_for('api.stand') }}"
            }).then(function(resp){
                if(resp.data.game == "end"){
                    document.getElementById("your_hand").innerHTML="";
                    document.getElementById("winning_rate_text").innerText=resp.data.count.winning_rate+"%";
                    resp.data.you.hand.forEach(function(card){
                        var you = document.createElement("img");
                        you.setAttribute("src", card.src);
                        you.setAttribute("alt", card.alt);
                        document.getElementById("your_hand").appendChild(document.createTextNode(" "));
                        document.getElementById("your_hand").appendChild(you);
                    });
                    document.getElementById("your_total").innerText=resp.data.you.total;
                    document.getElementById("statusHead").setAttribute("style", `color:${resp.data.alert.color}`);
                    document.getElementById("statusHead").innerText=resp.data.alert.head;
                    document.getElementById("statusBody").innerHTML=resp.data.alert.body;

                    document.body.classList.add("is-clipped");
                    document.getElementById("showGameStatus").classList.add("is-active"); reset.focus();
                }
                else if(resp.data.game == "not found"){
                    location.replace("{{ url_for('game.table') }}");
                }
            }).catch(function(err){
                console.log(err);
                window.alert("오류가 발생했습니다. 버튼을 다시 눌러주십시오.");
            });
        }

        hit.addEventListener("click", function(){
            axios({
                method: "GET",
                url: "{{ url_for('api.hit') }}"
            }).then(function(resp){
                if(resp.data.game == "ok"){
                    if(resp.data.you){
                        var you = document.createElement("img");
                        you.setAttribute("src", "/static/card_img/back.png");
                        you.setAttribute("alt", "Hidden Card");
                        document.getElementById("your_hand").appendChild(document.createTextNode(" "));
                        document.getElementById("your_hand").appendChild(you);
                    }

                    var me = document.createElement("img");
                    me.setAttribute("src", resp.data.me.src);
                    me.setAttribute("alt", resp.data.me.alt);
                    document.getElementById("my_hand").appendChild(document.createTextNode(" "));
                    document.getElementById("my_hand").appendChild(me);
                    document.getElementById("my_total").innerText=resp.data.me.total;
                }
                else if(resp.data.game == "not found"){
                    location.replace("{{ url_for('game.table') }}");
                }
                else if(resp.data.game == "bust"){
                    call_stand();
                }
                else if(resp.data.game == "bust with new card"){
                    var me = document.createElement("img");
                    me.setAttribute("src", resp.data.me.src);
                    me.setAttribute("alt", resp.data.me.alt);
                    document.getElementById("my_hand").appendChild(document.createTextNode(" "));
                    document.getElementById("my_hand").appendChild(me);
                    document.getElementById("my_total").innerText=resp.data.me.total;
                    call_stand();
                }
            }).catch(function(err){
                console.log(err);
                window.alert("오류가 발생했습니다. 버튼을 다시 눌러주십시오.");
            });
        });
        stand.addEventListener("click", call_stand);
        reset.addEventListener("click", function(){
            axios({
                method: "GET",
                url: "{{ url_for('api.status') }}"
            }).then(function(resp){
                document.getElementById("your_total").innerText=resp.data.you.total;
                document.getElementById("my_total").innerText=resp.data.me.total;
                document.getElementById("your_hand").innerHTML="";
                document.getElementById("my_hand").innerHTML="";
                resp.data.you.hand.forEach(function(card){
                    var you = document.createElement("img");
                    you.setAttribute("src", card.src);
                    you.setAttribute("alt", card.alt);
                    document.getElementById("your_hand").appendChild(document.createTextNode(" "));
                    document.getElementById("your_hand").appendChild(you);
                });
                resp.data.me.hand.forEach(function(card){
                    var me = document.createElement("img");
                    me.setAttribute("src", card.src);
                    me.setAttribute("alt", card.alt);
                    document.getElementById("my_hand").appendChild(document.createTextNode(" "));
                    document.getElementById("my_hand").appendChild(me);
                });

                document.body.classList.remove("is-clipped");
                document.getElementById("showGameStatus").classList.remove("is-active");
            }).catch(function(err){
                console.log(err);
                location.replace("{{ url_for('game.table') }}");
            });
        });
    </script>
{% endblock %}