{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-5">게임 규칙</h1>
        <ol>
            <li class="mb-4">
                <ul style="list-style:square">
                    <li>게임에서는 총 <b>2개의 덱</b>을 사용합니다. (총 104장/조커 0장)</li>
                    <li>카드는 게임이 시작되기 전에 <b>1번</b> 셔플 됩니다.</li>
                    <li>모든 플레이어는 총 <b>2장의 카드</b>를 받고 시작합니다.</li>
                </ul>
            </li>

            <li class="mb-4">
                <ul style="list-style:square">
                    <li>플레이어의 카드의 숫자 합은 <b>21</b>이 넘으면 안 됩니다.</li>
                    <li>상대방 보다 카드의 숫자 합이 <b>21</b>에 가까워야 합니다.</li>
                    <li>플레이어의 숫자 합이 <b>21</b>이 넘으면 카드를 더 받을 수 없습니다.</li>
                </ul>
            </li>

            <li class="mb-4">
                <ul style="list-style:square">
                    <li><b class="badge bg-primary">Hit</b> 버튼을 누르면 새로운 카드를 한 장 받습니다.</li>
                    <li><b class="badge bg-danger">Stand</b> 버튼을 누르면 새로운 카드를 받지 않습니다. (카드를 더 받을 수 없는 상태)</li>
                </ul>
            </li>

            <li class="mb-4">
                <ul style="list-style:square">
                    <li>모든 플레이어가 카드를 더 받을 수 없을 때 게임이 종료됩니다.</li>
                </ul>
            </li>

            <li class="mb-4">
                <ul style="list-style:square">
                    <li><b class="badge bg-danger">Ace</b> 카드는 <b>1</b> 또는 <b>11</b>로 계산합니다.</li>
                    <li><b class="badge bg-success">Jack</b> 카드는 <b>10</b>으로 계산합니다.</li>
                    <li><b class="badge bg-success">Queen</b> 카드는 <b>10</b>으로 계산합니다.</li>
                    <li><b class="badge bg-success">King</b> 카드는 <b>10</b>으로 계산합니다.</li>
                </ul>
            </li>

            <li>
                <ul style="list-style:square">
                    <li>승/패 처리는 다음과 같은 <b>순서대로</b> 진행됩니다.</li>
                    <li style="list-style:none">
                        <ol>
                            <li>플레이어의 숫자 합이 21인지 확인</li>
                            <li>상대 플레이어의 숫자 합이 21인지 확인</li>
                            <li>모든 플레이어의 숫자 합이 동일하면 <b>무승부</b></li>
                            <li>플레이어 혹은 상대 플레이어의 숫자 합이 21을 넘겼는지 확인합니다.
                                <ul>
                                    <li>한 명의 플레이어만 숫자 합이 21을 넘겼다면 그 플레이어가 패배합니다.</li>
                                    <li>모든 플레이어의 숫자 합이 21을 넘긴 경우 숫자 합이 21과 가장 가까운 플레이어가 승리합니다</li>
                                </ul>
                            </li>
                            <li>플레이어의 숫자 합이 더 큰지 확인</li>
                            <li>1~6중에 포함되는 상황이 없으므로 <b>무승부</b></li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
{% endblock %}