{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-4">규칙</h1>

        <div class="py-4">
            <p>게임에서는 총 <b>2개</b>의 덱을 사용합니다.</p>
            <p>카드는 게임이 시작되기 전에 1번 셔플됩니다.</p>
        </div>

        <div class="py-4">
            <p>플레이어의 카드의 숫자 합은 <b>21</b>이 넘으면 안되고,</p>
            <p>상대방 보다 카드의 숫자 합이 <b>21</b>에 가까워야 합니다.</p>
        </div>

        <div class="py-4">
            <p><b class="badge bg-primary">Hit</b> 버튼을 누르면 새로운 카드를 한 장 받습니다.</p>
            <p><b class="badge bg-danger">Stand</b> 버튼을 누르면 더 이상 카드를 받지 않으며 게임이 종료됩니다.</p>
        </div>

        <div class="py-4">
            <p>특수 카드는 다음과 같이 계산 합니다.</p>
            <ul>
                <li><b class="badge bg-info">Ace</b> 카드는 무조건 <b>1</b>로 계산됩니다.</li>
                <li><b class="badge bg-info">Jack</b> 카드는 <b>11</b>로 계산됩니다.</li>
                <li><b class="badge bg-info">Queen</b> 카드는 <b>12</b>로 계산됩니다.</li>
                <li><b class="badge bg-info">King</b> 카드는 <b>13</b>으로 계산됩니다.</li>
            </ul>
        </div>

        <div class="py-4">
            <p>승/패 처리는 다음과 같은 <b>순서대로</b> 진행됩니다.</p>
            <ol>
                <li>플레이어의 숫자 합이 21인지 확인</li>
                <li>상대 플레이어의 숫자 합이 21인지 확인</li>
                <li>플레이어의 숫자 합이 21보다 큰지 확인</li>
                <li>상대 플레이어의 숫자 합이 21보다 큰지 확인</li>
                <li>상대 플레이어의 숫자 합이 더 큰지 확인</li>
                <li>플레이어의 숫자 합이 더 큰지 확인</li>
                <li>1~6중에 포함되는 상황이 없으므로 <b>무승부</b></li>
            </ol>
        </div>
    </div>
{% endblock %}