<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>21</title>

        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>