<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>21!</title>

        <meta name="theme-color" content="#ffffff">
        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    {% if not g.use_meta %}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <meta name="keywords" content="21, 카드 게임, 카드게임, 웹 카드게임, 웹 사이트">
        <meta name="description" content="21은 심플한 카드 게임 입니다.">

        <meta property="og:type" content="website">
        <meta property="og:locale" content="ko_KR">
        <meta property="og:title" content="21!">
        <meta property="og:description" content="21은 심플한 카드 게임 입니다.">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="21!">

        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
        <link rel="shortcut icon" href="/static/21.ico">
        <link rel="icon" type="image/png" href="/static/21.png" sizes="512x512">
        <link rel="manifest" href="/manifest.json">
    {% endif %}
        <link rel="apple-touch-icon" sizes="512x512" href="/static/21.png">
        <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/iphone5_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/iphone6_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" href="/static/splash/iphoneplus_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/static/splash/iphonex_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/iphonexr_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="/static/splash/iphonexsmax_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/ipad_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/ipadpro1_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/ipadpro3_splash.png">
        <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="/static/splash/ipadpro2_splash.png">
    {% if game is not none %}
        <style> img{ width:130px;} @media(max-width:420px){img{width:65px;}} </style>
    {% endif %}
    </head>
    <body class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('lobby.index') }}">21</a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="21Navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="21Navbar">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('game.table') }}">게임 시작</a>

                    <a class="navbar-item" href="{{ url_for('lobby.rule') }}">게임 규칙</a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script>
            if("serviceWorker" in navigator){
                window.addEventListener("load",function(){navigator.serviceWorker.register("/sw.js");});
            }
        </script>
        <script src="{{ url_for('static', filename='bulma-burger.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>